<div class="row menu_container">
<div class = col-sm style="border-top: 1px solid black">
    
    <div class = row>
        
        <button class = "col btn btn-large btn-light switch" 
        style = "text-transform: none; line-height: 1.2;" 
        data-to = "connection">
            <i class="fa fa-network-wired"></i>
            <p>Connected</p>
        </button> <!-- connected -->
        
        <button class = "col btn btn-large btn-light switch" 
        style = "text-transform: none; line-height: 1.2;" 
        data-to = "time_picker">
            <i class="fa fa-bell"></i>
            <p>Alarm</p>
        </button> <!-- alarms -->
        
        <button class = "col btn btn-large btn-light switch" 
        style = "text-transform: none; line-height: 1.2;"  
        data-to = "now_doing">
            <i class="fa fa-folder-open"></i>
            <p>Files</p>
        </button> <!-- files -->
 
    </div>

    <div class ="row">
        
        <button class = "col btn btn-light btn-large switch" 
        style = "text-transform: none; line-height: 1.2;" 
        data-to = "not_yet_implemented">
            <i class="fa fa-cog"></i>
            <p>Settings</p>
        </button> <!-- settings -->

        <button class = "col btn btn-large btn-light switch" 
        style = "text-transform: none; line-height: 1.2;" 
        data-to = "not_yet_implemented">
            <i class="fa fa-lightbulb"></i>
            <p>Light</p>
        </button> <!-- updates -->    
        
        <button class = "col btn btn-light btn-large switch" 
        style = "text-transform: none; line-height: 1.2;" 
        data-to = "not_yet_implemented">
            <i class="fa fa-question-circle"></i>
            <p>Help</p>
        </button> <!-- help -->
        
    </div>

</div>
</div>