<div class = col-sm>
    <div class = row>
        <button class = "btn btn-success switch" data-to = "not_yet_implemented">Con</button> <!-- connected -->
        <button class = "btn btn-success switch" data-to = "not_yet_implemented">Ala</button> <!-- alarms -->
        <button class = "btn btn-success switch" data-to = "now_doing">Fil</button> <!-- files -->
    </div>
    <div class = row>
        <button class = "btn btn-success switch" data-to = "not_yet_implemented">Set</button> <!-- settings -->
        <button class = "btn btn-success switch" data-to = "not_yet_implemented">Upd</button> <!-- updates -->
        <button class = "btn btn-success switch" data-to = "not_yet_implemented">Hel</button> <!-- help -->
    </div>
</div>